In [1]:
import pandas as pd

In [2]:
with open('2-21.csv','r') as f:
    log = f.readlines()

log_list = []
for each in log:
    field = each.strip().split("^")
    log_list.append(field)

In [3]:
df = pd.DataFrame(log_list)

In [4]:
df

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,"""timestamp"",""source"",""message""",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,"""2023-02-21T00:00:05.671+08:00"",""k8smaster001""...",118.178.15.71,39.130.70.89,39.130.70.89,-,20/Feb/2023:23:59:52 +0800,db.yaozh.com,200,38440,https://m.baidu.com/?eqid=4e4e3b90b297b42a1000...,...,1.033,200,10.29.189.185:9989,1.015,-,-,-,-,-,"34d66395a960e79122d36fedda64af4b"""
2,"""2023-02-21T00:00:05.672+08:00"",""k8smaster001""...",120.27.173.49,39.183.136.70,39.183.136.70,-,20/Feb/2023:23:59:56 +0800,db.yaozh.com,200,23155,https://m.baidu.com/,...,0.585,200,10.46.228.27:9989,0.566,-,-,-,-,-,"7c01d6267c4f344c81e331b19ed9f506"""
3,"""2023-02-21T00:00:12.674+08:00"",""k8smaster001""...",120.27.173.54,49.119.194.146,49.119.194.146,-,21/Feb/2023:00:00:01 +0800,db.yaozh.com,200,23968,https://m.baidu.com/,...,0.912,200,10.46.228.27:9989,0.894,-,-,-,-,-,"47668145d9064d166c7b3e84219e85ab"""
4,"""2023-02-21T00:00:12.676+08:00"",""k8smaster001""...",118.178.15.118,117.136.27.101,117.136.27.101,-,21/Feb/2023:00:00:01 +0800,db.yaozh.com,200,24021,https://m.baidu.com/,...,0.879,200,10.81.44.201:9989,0.860,-,-,-,-,-,"d65cdb6c3f42369f3dddf3dfb2c6ce81"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52406,"""2023-02-21T23:59:36.411+08:00"",""k8smaster001""...",120.27.173.8,211.162.8.237,211.162.8.237,-,21/Feb/2023:23:59:24 +0800,db.yaozh.com,200,24460,https://m.baidu.com/,...,1.062,200,10.29.189.185:9989,1.044,-,-,-,-,-,"420b9574f84d214daf9f2f644291dff7"""
52407,"""2023-02-21T23:59:39.414+08:00"",""k8smaster001""...",118.178.15.71,223.104.204.99,223.104.204.99,-,21/Feb/2023:23:59:29 +0800,db.yaozh.com,200,26062,https://m.baidu.com/,...,1.166,200,10.81.44.54:9989,1.147,-,-,-,-,-,"d9a05f569454610580c2e5ba08bf7ce2"""
52408,"""2023-02-21T23:59:40.417+08:00"",""k8smaster001""...",118.178.15.106,223.104.217.181,223.104.217.181,-,21/Feb/2023:23:59:30 +0800,db.yaozh.com,200,23660,https://m.baidu.com/,...,0.531,200,10.46.228.27:9989,0.514,-,-,-,-,-,"d74c446990ea391061908fc86965092c"""
52409,"""2023-02-21T23:59:55.420+08:00"",""k8smaster001""...",118.178.15.117,117.152.92.118,117.152.92.118,-,21/Feb/2023:23:59:40 +0800,db.yaozh.com,200,23328,https://m.baidu.com/,...,0.569,200,10.81.44.201:9989,0.545,-,-,-,-,-,"4d7f89daee972c45c56b3a29de0f7dfc"""
52410,"""2023-02-21T23:59:55.422+08:00"",""k8smaster001""...",118.178.15.104,115.227.110.36,115.227.110.36,-,21/Feb/2023:23:59:45 +0800,db.yaozh.com,200,24216,https://www.baidu.com/link?url=Hs46Wu8d8nonbDI...,...,0.950,200,10.81.44.201:9989,0.933,-,-,-,-,-,"9b442e74e9faf723a5881fdf021cdc57"""

In [8]:
df = df.drop(0)

In [9]:
log_df = df[[3,5,7,9,10]]

In [10]:
log_df

,3,5,7,9,10
1,39.130.70.89,20/Feb/2023:23:59:52 +0800,200,https://m.baidu.com/?eqid=4e4e3b90b297b42a1000...,GET /instruct/28360.html HTTP/1.1
2,39.183.136.70,20/Feb/2023:23:59:56 +0800,200,https://m.baidu.com/,GET /zhongyaocai/5705.html HTTP/1.1
3,49.119.194.146,21/Feb/2023:00:00:01 +0800,200,https://m.baidu.com/,GET /instruct/42092.html HTTP/1.1
4,117.136.27.101,21/Feb/2023:00:00:01 +0800,200,https://m.baidu.com/,GET /instruct/382.html HTTP/1.1
5,1.80.144.129,21/Feb/2023:00:00:08 +0800,200,https://m.baidu.com/,GET /instruct/3971.html HTTP/1.1
...,...,...,...,...,...
52406,211.162.8.237,21/Feb/2023:23:59:24 +0800,200,https://m.baidu.com/,GET /jinkoujixie/7080872220000019.html HTTP/1.1
52407,223.104.204.99,21/Feb/2023:23:59:29 +0800,200,https://m.baidu.com/,GET /instruct/1530.html HTTP/1.1
52408,223.104.217.181,21/Feb/2023:23:59:30 +0800,200,https://m.baidu.com/,GET /yaocai_bz/6872749390000036.html HTTP/1.1
52409,117.152.92.118,21/Feb/2023:23:59:40 +0800,200,https://m.baidu.com/,GET /yaocai_bz/6872749740000043.html HTTP/1.1
52410,115.227.110.36,21/Feb/2023:23:59:45 +0800,200,https://www.baidu.com/link?url=Hs46Wu8d8nonbDI...,GET /jixie/7116235560000035.html HTTP/1.1

In [11]:
log_df.columns=['ip','date','http-code','refer','method']

In [12]:
log_df

,ip,date,http-code,refer,method
1,39.130.70.89,20/Feb/2023:23:59:52 +0800,200,https://m.baidu.com/?eqid=4e4e3b90b297b42a1000...,GET /instruct/28360.html HTTP/1.1
2,39.183.136.70,20/Feb/2023:23:59:56 +0800,200,https://m.baidu.com/,GET /zhongyaocai/5705.html HTTP/1.1
3,49.119.194.146,21/Feb/2023:00:00:01 +0800,200,https://m.baidu.com/,GET /instruct/42092.html HTTP/1.1
4,117.136.27.101,21/Feb/2023:00:00:01 +0800,200,https://m.baidu.com/,GET /instruct/382.html HTTP/1.1
5,1.80.144.129,21/Feb/2023:00:00:08 +0800,200,https://m.baidu.com/,GET /instruct/3971.html HTTP/1.1
...,...,...,...,...,...
52406,211.162.8.237,21/Feb/2023:23:59:24 +0800,200,https://m.baidu.com/,GET /jinkoujixie/7080872220000019.html HTTP/1.1
52407,223.104.204.99,21/Feb/2023:23:59:29 +0800,200,https://m.baidu.com/,GET /instruct/1530.html HTTP/1.1
52408,223.104.217.181,21/Feb/2023:23:59:30 +0800,200,https://m.baidu.com/,GET /yaocai_bz/6872749390000036.html HTTP/1.1
52409,117.152.92.118,21/Feb/2023:23:59:40 +0800,200,https://m.baidu.com/,GET /yaocai_bz/6872749740000043.html HTTP/1.1
52410,115.227.110.36,21/Feb/2023:23:59:45 +0800,200,https://www.baidu.com/link?url=Hs46Wu8d8nonbDI...,GET /jixie/7116235560000035.html HTTP/1.1

In [13]:
log_df['path'] = log_df['method'].apply(lambda x:x.split()[1])

C:\Users\Administrator\AppData\Local\Temp\ipykernel_6932\3994563081.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_df['path'] = log_df['method'].apply(lambda x:x.split()[1])

In [14]:
log_df

,ip,date,http-code,refer,method,path
1,39.130.70.89,20/Feb/2023:23:59:52 +0800,200,https://m.baidu.com/?eqid=4e4e3b90b297b42a1000...,GET /instruct/28360.html HTTP/1.1,/instruct/28360.html
2,39.183.136.70,20/Feb/2023:23:59:56 +0800,200,https://m.baidu.com/,GET /zhongyaocai/5705.html HTTP/1.1,/zhongyaocai/5705.html
3,49.119.194.146,21/Feb/2023:00:00:01 +0800,200,https://m.baidu.com/,GET /instruct/42092.html HTTP/1.1,/instruct/42092.html
4,117.136.27.101,21/Feb/2023:00:00:01 +0800,200,https://m.baidu.com/,GET /instruct/382.html HTTP/1.1,/instruct/382.html
5,1.80.144.129,21/Feb/2023:00:00:08 +0800,200,https://m.baidu.com/,GET /instruct/3971.html HTTP/1.1,/instruct/3971.html
...,...,...,...,...,...,...
52406,211.162.8.237,21/Feb/2023:23:59:24 +0800,200,https://m.baidu.com/,GET /jinkoujixie/7080872220000019.html HTTP/1.1,/jinkoujixie/7080872220000019.html
52407,223.104.204.99,21/Feb/2023:23:59:29 +0800,200,https://m.baidu.com/,GET /instruct/1530.html HTTP/1.1,/instruct/1530.html
52408,223.104.217.181,21/Feb/2023:23:59:30 +0800,200,https://m.baidu.com/,GET /yaocai_bz/6872749390000036.html HTTP/1.1,/yaocai_bz/6872749390000036.html
52409,117.152.92.118,21/Feb/2023:23:59:40 +0800,200,https://m.baidu.com/,GET /yaocai_bz/6872749740000043.html HTTP/1.1,/yaocai_bz/6872749740000043.html
52410,115.227.110.36,21/Feb/2023:23:59:45 +0800,200,https://www.baidu.com/link?url=Hs46Wu8d8nonbDI...,GET /jixie/7116235560000035.html HTTP/1.1,/jixie/7116235560000035.html

In [15]:
from furl import  furl

In [16]:
log_df['first_dir'] = log_df['path'].apply(lambda x:furl(x).path.segments[0])

C:\Users\Administrator\AppData\Local\Temp\ipykernel_6932\743368869.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_df['first_dir'] = log_df['path'].apply(lambda x:furl(x).path.segments[0])

In [17]:
log_df

,ip,date,http-code,refer,method,path,first_dir
1,39.130.70.89,20/Feb/2023:23:59:52 +0800,200,https://m.baidu.com/?eqid=4e4e3b90b297b42a1000...,GET /instruct/28360.html HTTP/1.1,/instruct/28360.html,instruct
2,39.183.136.70,20/Feb/2023:23:59:56 +0800,200,https://m.baidu.com/,GET /zhongyaocai/5705.html HTTP/1.1,/zhongyaocai/5705.html,zhongyaocai
3,49.119.194.146,21/Feb/2023:00:00:01 +0800,200,https://m.baidu.com/,GET /instruct/42092.html HTTP/1.1,/instruct/42092.html,instruct
4,117.136.27.101,21/Feb/2023:00:00:01 +0800,200,https://m.baidu.com/,GET /instruct/382.html HTTP/1.1,/instruct/382.html,instruct
5,1.80.144.129,21/Feb/2023:00:00:08 +0800,200,https://m.baidu.com/,GET /instruct/3971.html HTTP/1.1,/instruct/3971.html,instruct
...,...,...,...,...,...,...,...
52406,211.162.8.237,21/Feb/2023:23:59:24 +0800,200,https://m.baidu.com/,GET /jinkoujixie/7080872220000019.html HTTP/1.1,/jinkoujixie/7080872220000019.html,jinkoujixie
52407,223.104.204.99,21/Feb/2023:23:59:29 +0800,200,https://m.baidu.com/,GET /instruct/1530.html HTTP/1.1,/instruct/1530.html,instruct
52408,223.104.217.181,21/Feb/2023:23:59:30 +0800,200,https://m.baidu.com/,GET /yaocai_bz/6872749390000036.html HTTP/1.1,/yaocai_bz/6872749390000036.html,yaocai_bz
52409,117.152.92.118,21/Feb/2023:23:59:40 +0800,200,https://m.baidu.com/,GET /yaocai_bz/6872749740000043.html HTTP/1.1,/yaocai_bz/6872749740000043.html,yaocai_bz
52410,115.227.110.36,21/Feb/2023:23:59:45 +0800,200,https://www.baidu.com/link?url=Hs46Wu8d8nonbDI...,GET /jixie/7116235560000035.html HTTP/1.1,/jixie/7116235560000035.html,jixie

In [18]:
log_df['first_dir'].value_counts()

instruct              19102
jixie                  7446
zhongyaocai            7257
yaocai_bz              2257
yibao                  2099
                      ...
pqf                       1
syjbcf                    1
syzc                      1
IR.html                   1
animalmodelnanjing        1
Name: first_dir, Length: 154, dtype: int64

In [ ]:
# 统计详情页和列表页

In [19]:
def path_cat(x:str):
    if '?' in x:
        return "列表"
    return "详情"

In [20]:
log_df['page_cat'] = log_df['path'].apply(path_cat)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_6932\1145889978.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_df['page_cat'] = log_df['path'].apply(path_cat)

In [21]:
log_df

,ip,date,http-code,refer,method,path,first_dir,page_cat
1,39.130.70.89,20/Feb/2023:23:59:52 +0800,200,https://m.baidu.com/?eqid=4e4e3b90b297b42a1000...,GET /instruct/28360.html HTTP/1.1,/instruct/28360.html,instruct,详情
2,39.183.136.70,20/Feb/2023:23:59:56 +0800,200,https://m.baidu.com/,GET /zhongyaocai/5705.html HTTP/1.1,/zhongyaocai/5705.html,zhongyaocai,详情
3,49.119.194.146,21/Feb/2023:00:00:01 +0800,200,https://m.baidu.com/,GET /instruct/42092.html HTTP/1.1,/instruct/42092.html,instruct,详情
4,117.136.27.101,21/Feb/2023:00:00:01 +0800,200,https://m.baidu.com/,GET /instruct/382.html HTTP/1.1,/instruct/382.html,instruct,详情
5,1.80.144.129,21/Feb/2023:00:00:08 +0800,200,https://m.baidu.com/,GET /instruct/3971.html HTTP/1.1,/instruct/3971.html,instruct,详情
...,...,...,...,...,...,...,...,...
52406,211.162.8.237,21/Feb/2023:23:59:24 +0800,200,https://m.baidu.com/,GET /jinkoujixie/7080872220000019.html HTTP/1.1,/jinkoujixie/7080872220000019.html,jinkoujixie,详情
52407,223.104.204.99,21/Feb/2023:23:59:29 +0800,200,https://m.baidu.com/,GET /instruct/1530.html HTTP/1.1,/instruct/1530.html,instruct,详情
52408,223.104.217.181,21/Feb/2023:23:59:30 +0800,200,https://m.baidu.com/,GET /yaocai_bz/6872749390000036.html HTTP/1.1,/yaocai_bz/6872749390000036.html,yaocai_bz,详情
52409,117.152.92.118,21/Feb/2023:23:59:40 +0800,200,https://m.baidu.com/,GET /yaocai_bz/6872749740000043.html HTTP/1.1,/yaocai_bz/6872749740000043.html,yaocai_bz,详情
52410,115.227.110.36,21/Feb/2023:23:59:45 +0800,200,https://www.baidu.com/link?url=Hs46Wu8d8nonbDI...,GET /jixie/7116235560000035.html HTTP/1.1,/jixie/7116235560000035.html,jixie,详情

In [22]:
log_df['page_cat'].value_counts()

详情    46094
列表     6316
Name: page_cat, dtype: int64

In [31]:
log_df.dtypes

ip           object
date         object
http-code    object
refer        object
method       object
path         object
first_dir    object
page_cat     object
dtype: object

In [51]:
log_df[['first_dir', 'page_cat']].describe()

       first_dir page_cat
count      41094    41094
unique       141        2
top     instruct       详情
freq       16726    36912

In [61]:
score = log_df.groupby('first_dir').agg({'page_cat':'unique','path':'count'})

In [62]:
score

              page_cat  path
first_dir
                  [详情]   169
.1                [详情]     4
404.html          [详情]   167
Home              [详情]     4
Public        [列表, 详情]    55
...                ...   ...
zhuanti           [详情]     2
zhuce         [详情, 列表]   347
zhuce.html        [详情]     1
zhucebuchong  [详情, 列表]    17
zhunziblishi      [详情]     1

[141 rows x 2 columns]

In [28]:
tab = pd.crosstab(log_df['first_dir'],log_df['page_cat'], margins=True)

In [24]:
tab

page_cat        列表     详情    All
first_dir
                 1    557    558
.1               0      3      3
404.html         0    172    172
Home             0     23     23
IR.html          0      1      1
...            ...    ...    ...
zhuce.html       0      2      2
zhucebuchong     3     19     22
zhunziblishi     0      1      1
zyzy             1      0      1
All           6316  46094  52410

[155 rows x 3 columns]

In [66]:
import numpy as np

In [31]:
pts = log_df.pivot_table(index=['first_dir'], columns=['page_cat'], values='ip', aggfunc='count')

In [32]:
pts

page_cat                                                          列表     详情
first_dir    path
             /                                                   NaN  557.0
             /?=yaozh                                            1.0    NaN
.1           /.1                                                 NaN    3.0
404.html     /404.html                                           NaN  172.0
Home         /Home                                               NaN   23.0
...                                                              ...    ...
zhucebuchong /zhucebuchong?list_order=me_date%20desc&p=13450...  1.0    NaN
             /zhucebuchong?p=15357&pageSize=20                   1.0    NaN
             /zhucebuchong?qysearchcontent=%E9%9B%B7%E5%85%8...  1.0    NaN
zhunziblishi /zhunziblishi/                                      NaN    1.0
zyzy         /zyzy?p=3&pageSize=20                               1.0    NaN

[26348 rows x 2 columns]